@import "src/variables";

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    padding: 20px;
    border-radius: $border-radius;
    gap: 20px;
    box-shadow: $box-shadow;


    &__body {
        display: grid;
        grid-template-columns: 0.1fr 2.8fr 0.1fr;
        gap: 20px;
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .title {
                color: $text-color;
                font-size: 16px;
            }

            .description {
                font-size: 14px;
                color: $text-color;
            }
        }

        .status {
            padding: 5px;
            border-radius: $border-radius;
            color: $color-white;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }

        .completed {
            background-color: $color-status-completed;
        }

        .pending {
            background-color: $color-status-pending;
        }
    }

    &__actions {
        display: flex;
        gap: 5px;

        .btn-transparent {
            background-color: $color-gray-2;
            border: none;
            cursor: pointer;
            font-size: 16px;
            padding: 8px;
            border-radius: $border-radius;
            color: $color-gray;


        }
    }
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .checkbox {
        display: none;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $color-gray-2;
        border-radius: 100px;

    }

}

.container:hover input~.checkmark {
    background-color: $bg-input;
}

.container-checkbox input:checked~.checkmark {
    background-color: $color-status-completed;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked~.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: 1px solid $color-white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}