<section class="section">
    <div class="section__container">
        <form class="form" [formGroup]="form" (submit)="onSubmit()">
            <div>
                <input type="text" formControlName="name">
            </div>
            <div>
                <input type="text" formControlName="description">
            </div>
            <div>

                <button [disabled]="form.invalid">Save</button>
            </div>
        </form>

        <div class="container-task">
            <app-tasks-card [task]="item" *ngFor="let item of tasks$  |async" (cbLoad)="getTasks()"
                (cbTask)="editTask($event)">
            </app-tasks-card>
        </div>

    </div>
</section>