/**
** Colors variables
* */

$family-primary: "Poppins", sans-serif;
$family-secondary: "Poppins", sans-serif;
$color-primary: #2179ab;
$text-color: #050404;
$bg-color-primary: #f3f3f3;
$border-radius: 8px;
$border-color-1: #e3e3e3;
$border-radius-secondary: 1.5rem;
$font-size-regular: 1rem;
$color-gray: #747475;
$color-gray-2: #f4f4f5;
$bg-input: #eff2f5;

$box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);


/** Common **/
$color-white: #ffffff;
$color-status-pending: #ffc107;
$color-status-completed: #30a032;